* {
	box-sizing: border-box;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

header h1 {
	margin-left: 1em;
	text-align: center;
}

nav {
	flex: 1;
	text-align: center;
}

@media (max-width: 1095px) {
	nav {
		flex: 100%;
		padding-top: 1em;
	}
	header h1 {
		margin: auto;
	}
}

/*mobile nav*/
@media (max-width: 400px) {
	
}

a {
	text-decoration: none;
}

nav a {
	padding-left:1em;
	padding-right:1em;
	margin-bottom: .25em;
	display: inline-block;
	color: #0000EE;
}

#ebay {
	width: 100px;
}

#facebook, #instagram, #yelp, #bbb_icon {
	width: 50px;
}

#externals {
	margin: auto;
}

nav a:hover {
	color: rgb(0,0,125);
}

nav a#active {
	color: green;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
	text-align: center;
}

#home #logoImg {
	width: 100%;
}

#home #crewImg, #bbb_a_plus {
	width: 95%;
}

#home .flex-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#home .flex-container div {
	flex: 50%;
}

#home .info {
	text-align:left;
	font-size: 1.25em;
	padding-left: 1em;
	padding-right: 1em;
}

.parallax_container {
	position: relative;
	overflow-x: hidden;
	perspective: 5px;
	perspective-origin: 0%;
	display: flex;
	width: 100%;
}

.parallax_bg {
	position: absolute;	
	top: 200px;
	left: 0;
	transform-origin: 0%;
	transform: translateZ(-5px) scale(2);
	/*background-image: url("imgs/bbb_a_plus.png");*/
	background-size: contain;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
}

.parallax_fg {
	width: 50%;
	margin-left: 50%;
	transform: translateZ(0px);
}

@media (max-width: 600px){
	#home .flex-container div {
		flex: 100%;
	}
}

.reviews_container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

.review {
	flex-basis: 32%;
    /*max-width: 300px;*/
	flex-direction: column;	
}

@media (max-width: 800px) {
	.review { flex-basis: 100%; }
}

.stars {
	background-image: url('imgs/star_unchecked.png');
    height: 22px;
    width: 123px;
	margin-bottom: 1em;
}

.stars div {
	background-image: url('imgs/star_checked.png');
	height: 22px;
}

.five_stars {
	width: 123px;
}

.four_stars {
	width: 100px;
}

.three_stars {
	width: 75px;
}

.two_stars {
	width: 50px;
}

.one_stars {
	width: 25px;
}

#autoRepair #aseImg {
	width: 50%;
	max-width: 600px;
	min-width: 300px;
	float: right;
	margin-right: 1em;
}

#aboutUs #crewImg {
	float: right;
	width: 50%;
	padding-left: 1em;
}

#aboutUs p {
	font-size: 1.5em;
}

#snippetsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.snippet {
	flex: 30%;
	margin: 1em;
	padding: 1em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.snippet p {
	font-size: 1.5em;
}

#contactUs #flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
}

#alottaAutoParts p {
	width: 50%;
	margin: auto;
	text-align: left;
	text-indent: 1em;
}

#alottaAutoParts hr {
	width: 50%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.card {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: inline-block;
	margin: 1em;
	text-decoration: none;
	max-width: 30%;
}

.card img {
	width: 100%;
}

footer {
	padding: 1em;
	clear: both;
}