* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	background-color: rgba(200,200,200,.95);
}

body {
	margin: 0;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/*
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: rgb(200,200,200);
	z-index: 2;
	*/
}

header hr {
	flex: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

main, footer {
	max-width: 1200px;
	margin: auto;
}

.header_main_wrapper {
	min-height: 100vh;
}

#header_logo_wrapper {
	margin: auto;
	float: left;
}

#header_logo {
	width: 100%;
	max-width: 400px;
}

a {
	text-decoration: none;
	color: #0000EE;
}

nav a {
	padding-left:1em;
	padding-right:1em;
	margin-bottom: .25em;
	display: inline-block;
}

a:hover {
	color: rgb(0,0,125);
}

nav a#active {
	color: green;
}

nav {
	flex: 1;
	text-align: center;
}

#nav_2 {
	display: none;
	flex: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#nav_3 {
	background-color: rgba(200,200,200,.95);
	position: absolute;
	width: 200px;
	text-align: right;
	padding-top: 50px;
	left: -200px;
}

.nav_3 {
	display: none;	
}

#nav_3 a {
	display: block;
	border-bottom: 1px solid black;
	padding-top: .5em;
	padding-bottom: .5em;
	margin: 0;
}

#nav_3 a:hover {
	background-color: rgba(200,200,200,.75);
}

#menu_close {
	display: none;
}

#menu_wrapper {
	position: absolute;
	left: 5px;
	z-index: 1;
}

@media (max-width: 1530px) {
	header h1 {
		margin: auto;
	}
	#nav_1 {
		display: none;
	}
	#nav_2 {
		display: block;
	}
}

@media (max-width: 600px) {
	#nav_2 {
		display: none;
	}
	
	.nav_3 {
		display: block;
	}
}

@media (max-width: 510px) {
	#header_logo_wrapper {
		margin-top: 45px;
	}
}

#ebay {
	width: 100px;
}

#facebook, #instagram, #yelp, #bbb_icon {
	width: 50px;
}

.externals {
	margin: auto;
	float: right;
	text-align: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#home #logoImg {
	width: 100%;
}

#bbb_a_plus { 
	max-width: 300px;
	float: right;
	margin: 1em 0 1em 1em;
}

#snippetsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.snippet {
	flex: 30%;
	margin: 1em;
	padding: 1em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	position: relative;
}

.snippet img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-right: 25px;
}

.snippet h2 {
	margin: 0 0 0 -75px;
}

.snippet p {
	font-size: 1.5em;
	margin-bottom: 0;
}

@media (max-width: 600px) {	
	.snippet {
		flex: 100%;
	}
}

#home .flex_container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
}

#home .flex_container .h_wrapper {
	flex: 100%;
}

#home .flex_container div {
	flex: 50%;
}

#home .flex_container img {
	width: 99%;
}

#home .flex_container ul {
	display: table;
	margin: auto;
	list-style: disc url("imgs/wrench.png");
}

#home .flex_container ul ul {
	display: block;
	list-style: circle;
}

#home .flex_container li {
	margin-top: 2em;
	font-weight: bold;
}

#home .flex_container li li {
	margin-top: 1em;
	font-weight: normal;
}

.info {
	text-align:left;
	font-size: 1.25em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 1em auto 1em auto;
	max-width: 600px;
}

.img_wrapper img {
	max-width: 600px;
}

@media (max-width: 1000px) {
	#bbb_a_plus {
		float: none;
		display: block;
		margin: 1em auto 1em auto;
	}
}

@media (max-width: 900px){
	#home .flex_container div {
		flex: 100%;
	}
	
	#home .flex_container .ul_wrapper {
		flex: 50%;
	}
		
	.img_wrapper {
		order: -1;		
	}
	
	.h_wrapper {
		order: -2;
	}
	
	.img_wrapper img {
		display: block;
		margin: 0 auto 1em auto;
	}
}

@media (min-width: 900px) {
	.small, .medium {
		display: none;
	}
}

@media (min-width: 530px) and (max-width: 900px) {
	.small, .large {
		display: none;
	}
}

@media (max-width: 530px) {
	#home .flex_container .ul_wrapper {
		flex: 100%;
	}
	
	.medium, .large {
		display: none;
	}
}

.logo {
	width: 30%;
	max-width: 200px;
	min-width: 123px;
}

.logo_wrapper {
	text-align: left;
	padding-left: 1em;
}

.reviews_container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

.review {
	flex-basis: 32%;
    /*max-width: 300px;*/
	flex-direction: column;	
}

@media (max-width: 800px) {
	.review { flex-basis: 100%; }
}

.stars {
	background-image: url('imgs/star_unchecked.png');
    height: 22px;
    width: 123px;
	margin-bottom: 1em;
}

.stars div {
	background-image: url('imgs/star_checked.png');
	height: 22px;
}

.five_stars {
	width: 123px;
}

.four_stars {
	width: 100px;
}

.three_stars {
	width: 75px;
}

.two_stars {
	width: 50px;
}

.one_stars {
	width: 25px;
}

#crewImg {
	float: right;
	width: 50%;
	padding-left: 1em;
}

@media (max-width: 600px) {
	#crewImg {
		float: none;
		width: 100%;
		padding: 0;
	}
}

#aboutUs p {
	font-size: 1.5em;
}

#contactUs .flex_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
}

#contactUs .flex_container div {
	padding: 0px 1em 0px 1em;
}

iframe {
	display: block;
	margin: auto;
	border: 0;
}

#contactUs iframe {
	width: 90%;
	height: 500px;
}

#careers, #alottaAutoParts, #autoRepair {
	max-width: 800px;
	margin: auto;
}

#alottaAutoParts img {
	padding-top: 1em;
	width: 100%;
}

#searchInventory iframe {
	width: 100%;
	max-width: 800px;
	height: 600px;
}

#searchByImage iframe {
	width: 100%;
	max-width: 800px;
	height: 800px;
}

#searchMultiple iframe {
	width: 100%;
	max-width: 840px;
	height: 890px;
}

footer {
	padding: 1em;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

footer div {
	flex: 1;
}

#copyright {
	flex: 100%;
	text-align: right;
}

.sitemap ul{
	list-style-type: none;
	text-align: left;
	display: table;
	margin: auto;
	padding-left: 1em;
}

footer li {
	padding-bottom: 1em;
}

footer div:first-child {
	flex: 2;
}

footer .externals {
	padding-left: 1em;
}

@media (max-width: 1078px) {
	footer .externals {
		flex: 100%;
		padding-bottom: 1em;
	}
}

@media (max-width: 893px) {
	footer div:first-child {
		flex: 100%;
		padding-bottom: 1em;
	}
	
	footer .externals {
		text-align: center;
	}
	
	#copyright{
		text-align: center;
	}
}

@media (max-width: 555px) {
	footer div {
		flex: 100%;
	}
	
	.sitemap ul {
		text-align: center;
		padding: 0;
	}
}